h5 {
    margin-top: 0;
    border: 2px solid black;
    position: relative;
    padding: 10px;
    background-color: #e69e9e;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

h5::after {

    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #27ae60;
    /* Green underline effect */

}